<!-- <app-child [toChild]="myProjectName" (fromChild)="sentToparent($event)"></app-child> -->
<app-child  (messageEvent)="receiveMessage($event)" (tejaDetails)="myDetails($event)"></app-child>
Message: 
<p appCustomDirective>{{message}}</p>
Message2: {{ message2 }}

<h3>from other module</h3>
<app-new-comp [newComp] = "mydata" (newmoduleData)="newData($event)"></app-new-comp>


{{newMsg.company}}