<!-- String Interpolation -->
<h3>String Interpolation</h3>
<p>serverName        : {{serverName}}</p>
<p>serverCreationStatus      : {{serverCreationStatus}}</p>


<!-- Property Binding -->

<h3>Property Binding</h3>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<button class="btn btn-secondary"  [disabled]="!allowNewServer1"(click)="showData()" >Remove server</button>
{{serverCreationStatus}} 


<!-- <p [innerText]= "allowNewServer"></p> -->

<!-- Event Binding -->
<h3>Event Binding </h3>

  <label>Server Name</label>  
  <input type="text"  
       class="form-control"  
       (input)="OnUpdateServerName($event)">  
<p>{{serverName}}</p>  


<!-- Two-way data-binding -->
<h3>Two-way data-binding </h3>


<label>Server Name</label>  
<input type="text"  
     class="form-control"  
     [(ngModel)]="serverName">  
<p>{{serverName}}</p>

<!-- Structural Directives -->
 <h3>Structural Directives - ngIf</h3>
<p *ngIf="!serverCreated else noServer"> Server is created. Server name is {{serverName}}</p>
<ng-template #noServer> <p>no server created</p></ng-template>

<h3>Structural Directives - ngFor</h3>
<div class='panel panel-primary'>  
<div class='panel-body'>  
<div class='table-responsive'>  
<table>
     <thead>
          <th>title</th>
          <th>director</th>
          <th>cast</th>
          <th>releaseDate</th>
     </thead>
     <tbody>
          <tr *ngFor="let movies of movie">
          <td>{{movies.title}}</td>
          <td>{{movies.director}}</td>
          <td>{{movies.cast}}</td>
          <td>{{movies.releaseDate}}</td>

     </tr>

     </tbody>
</table>
</div>
</div>
</div>




<app-server></app-server>
<br>
<br>
<app-parent></app-parent>


<app-server-componet (serverDetail)="childServer($event)" (server)="serverDetals($event)"></app-server-componet>
{{serverStatusChild}}
{{server}}

<p>{{custompipe | custompipes}}</p>
<p>abcdefghijklmnopq | uppercase</p>


