<!-- attribute directive  -->
<h3>Attribute directive - ngStyle , ngStyle</h3>
<br>
<p [ngStyle]="{backgroundColor:getColor()}">Server with ID {{serverID}} is {{serverStatus}}. </p> 

<p [ngStyle]="{backgroundColor: getColor()}" >  Server  with ID {{serverID}} is {{serverStatus}}. </p>  

<!-- <p [ngStyle]="{backgroundColor:getColor()}">Server with ID {{serverID}} is {{serverStatus}}. </p>  -->
<!-- <p [ngStyle]="{backgroundColor:getColor()}">Server with ID {{serverID}} is {{getStatus()}}. </p>   -->

<!-- <p [ngStyle]="{backgroundColor:getColor()}">{{serverName}} status is {{getserverStatus()}}</p> -->

<p [ngStyle]="{backgroundColor: getColor()}"  
[ngClass]="{Online: serverStatus === 'Online'}">  Server  with ID {{serverID}} is {{serverStatus}}. </p>  

<!-- <div [appCustomDirective]>hello</div> -->


<!-- custom directive -->
<h3>Custom Directives</h3>

<p appCustomDirective >Hello angular</p>

<!-- Pipes -->
<h3>Pipes</h3>

{{ serverStatus | uppercase}}
{{ myTiitle | uppercase }}
{{ myTiitle | lowercase }}
{{ myTiitle | uppercase }}
<br>
<b>{{todaydate | date:'d/M/y'}}</b><br/>
<b>{{todaydate | date:'shortTime'}}</b>  
<h1>Currency Pipe</h1>  
<b>{{6589.23 | currency:"USD":true}}</b><br/>  
<b>{{6589.23 | currency:"INR"}}</b><br/>  

<h1>Json Pipe</h1>  
<b>{{ jsonval | json }}</b>
<b>{{00.54565 | percent}}</b> 


<p>{{myData.name}}</p>
<p>{{myData.job}}</p>



