<!-- <div>{{toChild}}</div> -->
<!-- <button (click)="ptoc()">click me!</button> -->

<button (click)="sendMessage()">Send Message</button>
{{data.name}}
{{data.job}}


<!-- <input
type="text"
(keyup)="onNameChange()"
[(ngModel)]="userName"
placeholder="Enter user name here">

<input
type="text"
(keyup)="onPhoneChange()"
[(ngModel)]="userPhone"
placeholder="Enter user phone number here"> -->